@model CreateFoodDto

@{
    ViewData["Title"] = "CreateFood";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Create Food</h4>
        <p class="card-subtitle mb-4">** Fill the all Blanks **</p>

        <form method="post">
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputDescription">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="exampleInputCategory">Category</label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="exampleInputPrice">Price</label>
                <input asp-for="Price" class="form-control" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="exampleInputCoverImageUrl">Cover Image Url</label>
                <input asp-for="CoverImageUrl" class="form-control" placeholder="CoverImageUrl">
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light">Create Food</button>
        </form>

    </div> <!-- end card-body-->
</div>

