@model List<ResultSocialMediaDto>

<div id="fh5co-footer">
	<div class="container">
		<div class="row row-padded">
			<div class="col-md-12 text-center">
				<p class="to-animate">
					&copy; @DateTime.Now.Year Foodee Free HTML5 Template. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
				</p>
				<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="fh5co-social">
					@foreach(var item in Model)
					{
						<li class="to-animate-2"><a href="@item.Url"><i class="@item.Icon"></i></a></li>
					}
					
				</ul>
			</div>
		</div>
	</div>
</div>