<div class="js-sticky">
	<div class="fh5co-main-nav">
		<div class="container-fluid">
			<div class="fh5co-menu-1">
				<a href="#" data-nav-section="home">Home</a>
				<a href="#" data-nav-section="about">About</a>
				<a href="#" data-nav-section="features">Features</a>
			</div>
			<div class="fh5co-logo">
				<a href="/Default/Index/">foodee</a>
			</div>
			<div class="fh5co-menu-2">
				<a href="#" data-nav-section="menu">Menu</a>
				<a href="#" data-nav-section="events">Events</a>
				<a href="#" data-nav-section="reservation">Reservation</a>
			</div>
		</div>

	</div>
</div>